@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Athletic_Pro";
  src: url("/fonts/Mandarin - Athletic Pro Variable.ttf");
}

.rotate-y-90 {
  transform: rotateY(90deg);
}

.rotate-y-0 {
  transform: rotateY(0deg);
}
